/*
* {
  border: 1px solid #f00;
}
*/
body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  color: #333;
  margin: auto;
  /*width: 1200px;*/
  max-width: 960px;
  background-color: #b7bdca;
}
section {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0 0 0;
}
.answer {
  color: #2e74b0;
}

h3 {
  font-size: 16px;
}
a {
  color: #2e74b0;
}
.button {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  color: #2e74b0;
  background-color: #bad6ef;
  border-radius: 8px;
  border: 1px #3f6586 solid;
  padding: 4px 10px;
  margin: 10px 0 0 0;
}
.button:hover {
  color: #bad6ef;
  background-color: #2e74b0;
}
.text_field {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  color: #2e74b0;
  background-color: #eee;
  border-radius: 8px;
  border: 1px #3f6586 solid;
  padding: 4px 10px;
  margin: 10px 0 0 0;
}
.form_caption, .qmark {
  display: inline;
}
.qmark {
  font-weight: 600;
  font-size: 24px;
  padding: 0 20px 0 20px;
}